body
{
	background-color:rgb(225, 191, 254)!important;
}
#typed
{
	font-size: 40px;
	font-weight:bold;
}
.text-justify
{
    padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 18px;
    font-style: bold;
}
.text-justify1
{
    padding-top: 30px;
	padding-left: 30px;
	padding-right: 15px;
	text-align: left;
	vertical-align: center;
	font-size: 18px;
    font-style: bold;
}
.pic1
{
	padding-left: 50px;
}
.container{
	text-align: center;
}
.box-margin
{
	background-color:rgb(0,0,0);
	color:white;
	align-items: center;
}
.container
{
	padding-top: 70px;
}

.trans
{
    position: relative;
    display: inline-block;
    animation: animate 5s linear infinite;
}
@keyframes animate
{
	50%
	{
		transform: translateY(-20px);
	}
	50%
	{
		transform: translateY(-20px);
	}
}
